.logo {
  height: 30px;
  width: 30px;
}
 ul {
   list-style: none;
   display: flex;
 }
 .lists {
   display: flex;
   border-bottom: 1px solid grey;
   border-top: 1px solid grey;
   height: 150px;
 }
.list {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.hit {
  position: relative;
  left: 20px;
  bottom: 30px;
  height: 55px;
  width: 45px;

}
.list-span {
  margin: 5px;;
}
.title {
  font-size: 15px;
  font-weight: 800;
}
.price {
  font-size: 50px;
  font-weight: 600;
}
.currency {
  position: relative;
  bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}
.usage-limit {
  position: relative;
  right: 15px;
  font-size: 15px;
  font-weight: 500;
}
.per-currency {
  display: inline-block;
}
.internet, .minutes, .messages {
  font-size: 24px;
  font-weight: 700;
}
.internet-unit {
  font-size: 25px;
  font-weight: 400;
}
.minutes-unit, .messages-text {
  font-weight: 500;
}
.minutes-unit {
  font-size: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}